 .jstyle {          
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('images/test3.png');
    width:100%;
    background-size: 100%;
    background-repeat: no-repeat;
    /* display:table; */
}

.cbox{
    background: rgba(0, 0, 0, 0.4);
    
}